.accordion{
    width:100%;

    .faq-item{
        border: 1px solid rgba($secondary, 0.5);
        margin-bottom: 12px;
        @include border-radius(12px);
        overflow: hidden;

        &:last-child{
            margin-bottom: 0;
        }
    }
    .faq-item-header{
        position: relative;
        background-color: $white;
        padding: 12px 16px;
        padding-right: 50px;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        // font-family: $primery-font;
        font-weight: $w-semibold;
        color: $secondary;
        border-bottom: 1px solid transparent;
        @include transition-three;

        &:hover{
            background-color: #f8f8f8;
        }

        .pluse-mins-icon {
            display: inline-block;
            line-height: 0;
            position: absolute;
            top: 50%;
            right: 16px;
            @include fix-width-height(24px);
            border: 1px solid $secondary;
            @include border-radius(50%);
            @include transform-y(-50%);

            &::before, &::after{
                @include before-after;
                top: 50%;
                left: 50%;
                background-color: $secondary;
                @include transform(-50%, -50%);
                @include transition-three;
            }

            &::before{
                width: 12px;
                height: 2px;
            }
            &::after {
                width: 2px;
                height: 12px;
            }
        }
        .angle-icon{
            display: inline-block;
            line-height: 0;
            position: absolute;
            top: 50%;
            right: 50px;
            @include fix-width-height(24px);
            @include transform-y(-50%);

            &::before{
                @include before-aftre-fill;
                background: url('../../assets/images/dropdown-icon.svg') no-repeat center center;
                background-size: 20px;
                @include transition-three;
                @include rotate-x(0deg)
            }
        }

        &.active {
            background-color: #f8f8f8;
            border-color: rgba($secondary, 0.5);

            .pluse-mins-icon {
                &::after {
                    height: 0;
                    opacity: 0;
                }
            }
            .angle-icon{
                &::before {
                    @include rotate-x(180deg);
                }
            }
        }
        
        &[aria-expanded="true"] {
            background-color: #f8f8f8;
            border-color: rgba($secondary, 0.5);

            .pluse-mins-icon {
                &::after {
                    height: 0;
                    opacity: 0;
                }
            }
            .angle-icon{
                &::before {
                    @include rotate-x(180deg);
                }
            }
        }
    }

    .faq_body_inner{
        padding: 16px;
        @include normal-text-regular;

        p {
            margin-bottom: 12px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}