.button-group{
    @include flex-v-center;
    gap: 16px;
}

.common-btn{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    @include normal-text-medium;
    @include transition-three;
    @include border-radius(12px);

    &.primary-btn{
        background-color: $primary;
        border:1px solid $primary;
        color: $white;

        &:hover{
            background-color: $secondary;
            border:1px solid $secondary;
        }
    }

    &.secondry-btn{
        background-color: transparent;
        border:1px solid $secondary;
        color: $secondary;

        &:hover{
            background-color: $primary;
            border:1px solid $primary;
            color: $white;
        }
    }
}