.common-form{
    width:100%;

    .from-group{
        width: 100%;
        margin-bottom: 0px;
        position: relative;

        .form-label{
            display: block;
            text-align: left;
            margin-bottom: 6px;
            @include normal-text-medium;
        }

        .group-input{
            position: relative;
            width: 100%;
        }

        .req-mark{
            color: $danger;
            margin-left: 2px;
            font-weight: $w-regular;
        }

        .form-control{
            text-align: left;
            @include normal-text-regular;
            @include input-box($white, #ccc);
            @include input-placeholder-color(rgba($secondary, 0.7));

            &:focus{
                border-color: $secondary;
            }
        }

        .error-message{
            display: block;
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            // font-family: $primery-font;
            font-weight: $w-regular;
            color: $danger;
            margin-top: 4px;
        }
        
        .input-icon{
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            @include flex-all-center;
            width: 40px;
            height: 40px;
            pointer-events: none;
            @include border-radius-all(10px, 0, 0, 10px);

            + {
                .form-control{
                    padding-left: 40px;
                }
            }
        }

        .input-action{
            position: absolute;
            top: 2px;
            bottom: 2px;
            right: 2px;
            @include flex-all-center;
            width: 40px;
            height: 38px;
            border: none;
            @include border-radius-all(0px, 10px, 10px, 0px);
            background-color: #eee;
            cursor: pointer;

            .eye-icon{
                img{
                    width: 24px;
                    height: 24px;
                }
            }

            + {
                .form-control{
                    padding-right: 50px;
                }
            }
        }
    }
}

/* Label Animated In Focus Css here..........*/

.label-animated{
    .form-control{
        &::placeholder{
            opacity: 0;
        }
    }
    
    .form-field-name {
        color: rgba($secondary, 0.7);
        @include font-line-weight-regular;
        pointer-events: none;
        position: absolute;
        top: 11px;
        left: 16px;
        @include transition-three;
    }
    
    .form-control:focus ~ .form-field-name,
    .form-control.filled + .form-field-name {
        color: $secondary;
        font-size: 14px;
        top: -11px;
        left: 20px;
        z-index: 9;
        opacity: 1;
        
        &::before{
            content: '';
            position: absolute;
            top:-0px;
            left: -4px;
            right: -4px;
            bottom: 0;
            margin: auto;
            width: calc(100% + 8px);
            height: 2px;
            background-color: $white;
            z-index: -1;
            @include transition-three;
        }
    }
    .form-control:focus,
    .form-control.filled{
        &::placeholder{
            opacity: 1;
        }
    }
}


/* Input tel Dropdown box css here...*/
.tel-input-group{
    .iti{
        width: 100%;

        .iti__selected-country{
            background-color: #eee;
            border-radius: 10px 0 0 10px;
            border: 2px solid #ffff;
            padding: 8px;
            padding-right: 12px;

            .iti__selected-country-primary{
                padding: 0;
                background-color: transparent !important;

                .iti__arrow{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                    right: 4px;
                }
            }
        }
    }
}

.iti__dropdown-content{
    .iti__search-input {
        @include out-shadow-none;
        padding: 6px 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        line-height: 18px;
        // font-family: $secondary-font;
        font-weight: $w-regular;
        @include border-radius(6px);
        @include transition-three;
        margin: 3px;
        width: calc(100% - 6px);
        // display: none !important;

        &:focus {
            border-color: $secondary;
        }
        
    }
}

.iti__country-list{
    @include scroll-bar;
}

/* Bootstrap Datepicker Dropdown box css here...*/
.datepicker{
    &.datepicker-dropdown{
        background: $white;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);

        th, td{
            padding: 8px;
        }
        .prev, .next{
            background-color: rgba($secondary, 0.4);
            vertical-align: middle;
            border-radius: 10px;
            width: 34px;
            height: 34px;
        }
        .datepicker-switch{
            vertical-align: middle;
            border-left: 5px solid #ffffff;
            border-right: 5px solid #ffffff;
            border-radius: 10px;
        }
        table {
            border-collapse: separate;
            tr{
                td{
                    &.day{
                        &.today{
                            background-image: none;
                            background-color: rgba($secondary, 0.7);
                            color: $white;
                        }
                        &.active{
                            background-image: none;
                            background-color: $primery;
                        }
                    }
                }
            }
        }
        
    }
}
