.custom-inputs{
    display: inline-flex;
    gap: 16px;

    .custom-input-btn{
        @include flex-inline-center;
        gap: 8px;
        position: relative;
        cursor: pointer;
        @include normal-text-regular;
        user-select: none;

        // &:has(input:checked){
        //     color: red;
        // }

        .checkmark{
            @include flex-all-center;
            position: relative;
            @include fix-width-height(18px);
            background-color: #fff;
            border: 1px solid $secondary;
            @include transition-three;

            &::after{
                @include before-after;
                opacity:0;
                @include transition-three;
            }
        }

        input{
            width: 100%;
            height: 18px;
            opacity: 0;
            cursor: pointer;
            position: absolute;

            &[type="checkbox"]{
                &:checked ~ .checkmark {
                    background:$secondary;
                    border-color:$secondary;

                    &::after {
                        opacity: 1;
                    }
                }

                &:checked ~ .label-text {
                    color: red;
                }

                + .checkmark{
                    @include border-radius(2px);

                    &::after{
                        left: 3px;
                        top: 4px;
                        width: 11px;
                        height:6px;
                        border-left:2px solid #fff;
                        border-bottom:2px solid #fff;
                        @include rotate(-45deg);
                    }
                }
            }

            &[type="radio"]{
                &:checked ~ .checkmark {
                    &::after {
                        opacity: 1;
                    }
                }
                &:checked ~ .label-text {
                    color: red;
                }

                + .checkmark{
                    @include border-radius(50%);

                    &::after {
                        @include fix-width-height(8px);
                        background: $secondary;
                        margin: auto;
                        @include border-radius(50%);
                    }
                }
            }
        }
    }
}