.notification-dropdown{
    .notification-toggle{
        @include out-shadow-none;
        position: relative;
        @include fix-width-height(40px);
        @include flex-all-center;
        border: 1px solid rgba($black, 0.4);
        @include background-opacity(#eee, 0.5);
        @include transition-three;
        @include border-radius(5px);

        .badge {
            position: absolute;
            top: -4px;
            right: -3px;
            background-color: #F82C51;
            color: white;
            font-size: 10px;
            padding: 2px 6px;
            border-radius: 50%;
            line-height: 1.2;
        }
    }

    .dropdown-menu{
        padding: 0;
        background-color: #fff;
        @include border-radius(5px);
        border: 1px solid rgba($black, 0.4);
        min-width: 200px;
        box-shadow: 0px 0px 18px 0px #00000026;
        overflow: hidden;

        .dropdown-header {
            background-color: $primary;
            color: white;
            padding: 8px 12px;
            @include normal-text-medium;
            @include flex-center-between;
            gap: 10px;
        }
        .view-all-wrap{
            padding: 10px;
            text-align: center;
            background-color: #f8f9fa;
            border-top: 1px solid rgba($black, 0.1);
        }
        .view-all {
            color: $secondary;
            @include normal-text-medium;
            @include transition-three;
            
            // &:hover {
            //     color: $secondary;
            // }
        }

        .notification-list{
            /* writw Notification list css here */
            padding: 0;
        }
    }
}