.select2-box{
    width: 100%;
    .select2-selectpicker{
        width:100%;
    }
    .select2-container--default{
        width: 100% !important;
        .select2-selection{
            @include out-shadow-none;
            border-radius: 10px !important;
            padding: 12px 16px;
            padding-right: 40px;
            background-color: $white;
            height: auto;
            border: 1px solid #ccc;
            @include transition-three;

            .select2-selection__rendered{
                padding: 0;
                font-size: 16px;
                line-height: 20px;
                // font-family: $primery-font;
                font-weight: $w-medium;
                color: $secondary;

                .select2-selection__placeholder{
                    font-weight: $w-regular;
                    color: rgba($secondary, 0.7);
                    @include text-ellipsis-line(1);
                }

                span{
                    img{
                        width: 20px;
                        height: 15px;
                        margin-right: 6px;
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
            .select2-selection__arrow{
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                @include fix-width-height(15px);

                &::after {
                    @include before-aftre-fill;
                    background: url('../../assets/images/dropdown-icon.svg') no-repeat center center;
                    background-size: contain;
                    @include transition-three;
                    @include rotate-x(0deg);
                }
                b{
                    display: none !important;
                }
            }

            .select2-search__field{
                margin-top: 0;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                @include text-ellipsis-line(1);
                @include input-placeholder-color(rgba($secondary, 0.7));
            }

            &.select2-selection--multiple{
                padding-right: 16px;

                .select2-selection__rendered{
                    
                    .select2-selection__choice{
                        background-color: transparent;
                        border: 1px solid #c9c9c9;
                        overflow: hidden;

                        .select2-selection__choice__remove{
                            background-color: #EEEEEE;
                            border-right: 1px solid #c9c9c9;
                            @include flex-all-center;
                            @include fix-width-height(20px);
                            padding: 0;

                            &::after {
                                @include before-aftre-fill;
                                background: url('../../assets/images/close-cross-icon.svg') no-repeat center center;
                                background-size: 10px;
                                opacity: 0.5;
                            }

                            span{
                                display: none;
                            }
                        }

                        .select2-selection__choice__display{
                            font-size: 14px;
                            line-height: 18px;
                            // font-family: $primery-font;
                            font-weight: $w-regular;
                            color: $secondary;
                            padding: 0 4px;
                        }
                    }
                }
            }
        }

        &.select2-container--open{
            .select2-selection{
                border-color: $secondary;
                .select2-selection__arrow{
                    &::after {
                        @include rotate-x(180deg);
                    }
                }
            }
        }
    }
}

 .select2-container--default{
    .select2-dropdown{
        background: $white;
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
        border-radius: 16px !important;
        width: 100%;
        // overflow: hidden;
        border: none;

        .select2-search{
            padding: 8px;

            .select2-search__field{
                @include out-shadow-none;
                padding: 8px 16px;
                font-size: 16px;
                line-height: 20px;
                // font-family: $primery-font;
                font-weight: $w-regular;
                color: $secondary;
                border: 1px solid #ccc;
                @include border-radius(10px);
                @include transition-three;

                &:focus {
                    border-color: $secondary;
                }
            }
        }

        .select2-results{
            >{
                .select2-results__options{
                    padding: 0 8px 10px;
                    @include scroll-bar;

                    .select2-results__option{
                        font-size: 16px;
                        line-height: 20px;
                        // font-family: $primery-font;
                        font-weight: $w-regular;
                        color: $secondary;
                        position: relative;
                        background: transparent;
                        padding: 8px 10px;
                        margin: 2px 0;
                        @include transition-three;
                        @include border-radius(10px);

                        &.select2-results__option--highlighted{
                            color: #ffff;
                            background-color: rgba($secondary, 0.7);
                        }
                        &.select2-results__option--selected{
                            color: #ffff;
                            background-color: rgba($secondary, 0.7);
                        }

                        &::before{
                            @include before-after;
                            left: 8px;
                            right: 8px;
                            bottom: 0;
                            height: 1px;
                            background-color: rgba($secondary, 0.1)
                        }

                        &:last-child{
                            &::before{
                                display: none;
                            }
                        }
                        span{
                            img{
                                width: 20px;
                                height: 15px;
                                margin-right: 6px;
                                position: relative;
                                position: relative;
                                bottom: 2px;
                            }
                        }
                    }
                }
            }
        }

        &.select2-dropdown--below{
            margin-top: 4px;
        }
        &.select2-dropdown--above{
            top: -4px;
        }
    }
}


 