.tabing-nav{
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;

    .nav-link{
        @include border-out-shadow-decoration-none;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        padding: 8px 20px;
        text-align: center;
        color: $secondary;
        background-color: transparent;
        @include border-radius(10px);
        @include transition-three;

        &.active, &:hover{
            background-color: $primery;
            color: $white;
        }
    }
}