// Compile the SCSS file into a minified CSS file using the command:
// sass assets/css/scss/common.scss:assets/css/common.css

@import "variables";
@import "mixin";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0 !important; 
    margin: 0 !important;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    // font-family: $primary-font;
    font-weight: $w-regular;
    text-align: left
}

a {
    @include border-out-shadow-decoration-none;
}

button, .btn {
    @include out-shadow-none;
    cursor: pointer;
}

input, .form-control{
    @include out-shadow-none;
}

ul, ol {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    padding: 0;
}

img{
	width: auto;
    max-width: 100%;
    min-width: auto;
    height: auto;
    max-width: 100%;
    min-height: auto;
}
picture{
    display: inline-block;
    line-height: 0;
}

/* ========== Common Css Start here, Please Not use this Css in your project  ============*/
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.flex-between{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;

    .user-dropdown{
        margin-left: auto;
    }
}
.selected-box{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
    >{
        div{
            width: calc(50% - 15px);
        }
    }
}
.components-title{
    font-size: 18px;
    font-weight: $w-medium;
    margin-bottom: 20px;
    color: $black;
    padding: 10px 10px;
    background-color: #eee;
    @include border-radius(10px);
    @include flex-center-between;
    gap: 10px;
}

.text-ellipsis{
    @include text-ellipsis-line(1);
}


/*========== User Dropdown Css Start here  ============*/
@import "_user-dropdown";


/*========== Notification Dropdown Css Start here  ============*/
@import "_notification-dropdown";


/*========== Button Css Start here  ============*/
@import "_button-group";


/*========== Common Input Box Css Start here  ============*/
@import "_common-form";


/*========== Bootstrap Select Css Start here  ============*/
@import "_bootstrap-select";


/*========== Select2 SelectPicker Css Start here  ============*/
@import "_select2-selectpicker";


/*========== Custome Checkbox Css Start here  ============*/
@import "_custom-inputs-btn";


/*========== Tabing Css Start here  ============*/
@import "_tabing-nav";


/*========== Search Box Css Start here  ============*/
@import "_search-box";


/*========== Breadcrumb Css Start here  ============*/
@import "_breadcrumb";


/*========== Common Modal Css Start here  ============*/
@import "_common-modal";


/*========== Accordion Css Start here  ============*/
@import "_accordion";


/*========== Login/Forgot/signUp Css Start here  ============*/
@import "_lrf-content";


/*========== Login/Forgot/signUp Css Start here  ============*/
@import "_side-bar";

/*========== Header Css Start here  ============*/
@import "_header";



.scrollToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: #000;
  border: none;
  border-radius: 50%;
//   box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
}

.progress-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 6;
}

.progress-fg {
  fill: none;
  stroke: #f16122;
  stroke-width: 6;
  stroke-dasharray: 276.46;
  stroke-dashoffset: 276.46;
  transition: stroke-dashoffset 0.1s linear;
}

.scrollToTop .arrow {
  position: relative;
  z-index: 1;
  font-size: 20px;
  color: #0b84ff;
  pointer-events: none;

  svg {
    width: 20px;
    height: 20px;
  }
}
